@import "@arcgis/core/assets/esri/themes/light/main.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#viewDiv {
  flex-grow: 1;
}

// #app {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   padding: 0;
// }

.mesh-modifications {
  width: 300px;
}

.viewpoint-button {
  width: 120px;
  margin: 5px;
}

/* Code Snippet */

:root {
  --code-height: 400px;
  --code-width: 550px;
  --code-width-close: -550px;
}

.code-snippet {
  font-size: 1.1em;
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: var(--code-width);
  margin-left: var(--code-width-close);
}

pre[class*="language-"] {
  margin-bottom: 16px;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  // color: #9a6e3a;

  background: none !important;
}

* {
  --calcite-ui-brand: rgb(70, 70, 248);
  // --calcite-ui-brand: rgb(55, 200, 100);
  --calcite-ui-brand-hover: rgb(34, 34, 247);
  // --calcite-ui-brand-press: rgb(0, 100, 0);

  --calcite-ui-danger: rgb(248, 70, 70);
}

.esri-popup {
  display: none !important;
}
